[submodule "tokenautocomplete"]
	path = tokenautocomplete
	url = https://github.com/oshepherd/TokenAutoComplete.git
[submodule "twoway-view"]
	path = twoway-view
	url = https://github.com/oshepherd/twoway-view
