<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="eu.e43.impeller"
    android:requiredAccountType="eu.e43.impeller"
    android:versionCode="0009010"
    android:versionName="0.9.1" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.WRITE_CONTACTS" />
    <uses-permission android:name="android.permission.READ_SYNC_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS" />
    <uses-permission android:name="android.permission.READ_SYNC_STATS" />
    <uses-permission android:name="android.permission.READ_SOCIAL_STREAM" />
    <uses-permission android:name="android.permission.WRITE_SOCIAL_STREAM" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:name=".ImpellerApplication"
        android:allowBackup="true"
        android:allowTaskReparenting="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.AppCompat.Light" >
        <provider
            android:name=".content.PumpContentProvider"
            android:authorities="eu.e43.impeller.content"
            android:enabled="true"
            android:exported="true"
            android:label="Pump.io"
            android:process=":sync"
            android:syncable="true" />

        <receiver
            android:name=".content.ContentUpdateReceiver"
            android:enabled="true"
            android:exported="false"
            android:process=":sync" >
            <intent-filter>
                <action android:name="eu.e43.impeller.UpdateReplies" />
                <action android:name="eu.e43.impeller.UpdateObject" />
                <action android:name="eu.e43.impeller.FetchUserFeed" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".content.FeedNotificationReceiver"
            android:enabled="true"
            android:exported="false"
            android:process=":sync" >
            <intent-filter>
                <action android:name="eu.e43.impeller.action.NEW_FEED_ENTRY" />
                <action android:name="eu.e43.impeller.action.DIRECT_INBOX_DISPLAYED" />
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <service
            android:name=".content.FeedNotificationService"
            android:exported="false"
            android:process=":sync" >
            <intent-filter>
                <action android:name="eu.e43.impeller.content.FeedNotificationService.DirectMessage" />
            </intent-filter>
        </service>
        <service
            android:name=".account.AuthenticatorService"
            android:enabled="true"
            android:exported="true"
            android:process=":sync" >
            <intent-filter>
                <action android:name="android.accounts.AccountAuthenticator" />
            </intent-filter>

            <meta-data
                android:name="android.accounts.AccountAuthenticator"
                android:resource="@xml/authenticator" />
        </service>
        <service
            android:name=".content.FeedSyncService"
            android:exported="true"
            android:process=":sync" >
            <intent-filter>
                <action android:name="android.content.SyncAdapter" />
            </intent-filter>

            <meta-data
                android:name="android.content.SyncAdapter"
                android:resource="@xml/feed_sync_adapter" />
        </service>
        <service
            android:name=".contacts.SyncService"
            android:exported="true"
            android:process=":sync" >
            <intent-filter>
                <action android:name="android.content.SyncAdapter" />
            </intent-filter>

            <meta-data
                android:name="android.content.SyncAdapter"
                android:resource="@xml/contact_sync_adapter" />
            <meta-data
                android:name="android.provider.CONTACTS_STRUCTURE"
                android:resource="@xml/contact_profile" />
        </service>

        <activity
            android:name=".activity.MainActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask" >

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:host="eu.e43.impeller.content"
                    android:scheme="content" />
            </intent-filter>

            <intent-filter>
                <action android:name="eu.e43.impeller.action.SHOW_FEED" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".account.LoginActivity"
            android:label="@string/title_activity_login"
            android:windowSoftInputMode="adjustResize|stateVisible" />

        <activity
            android:name=".activity.PostActivity"
            android:label="@string/title_activity_post"
            android:parentActivityName=".activity.MainActivity" >
            <intent-filter>
                <action android:name="android.intent.action.SEND" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="text/plain" />
                <data android:mimeType="image/*" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.CheckinActivity"
            android:label="@string/title_activity_checkin"
            android:parentActivityName=".activity.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.MainActivity" />
        </activity>
        <activity
            android:name=".activity.SettingsActivity"
            android:excludeFromRecents="true"
            android:finishOnTaskLaunch="true"
            android:launchMode="singleInstance"
            android:parentActivityName=".activity.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.MainActivity" />
        </activity>
        <activity
            android:name="org.acra.CrashReportDialog"
            android:excludeFromRecents="true"
            android:finishOnTaskLaunch="true"
            android:launchMode="singleInstance"
            android:theme="@style/Theme.Base.AppCompat.Dialog.FixedSize" />
        <activity
            android:name=".activity.AboutActivity"
            android:label="@string/title_activity_about"
            android:parentActivityName=".activity.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.MainActivity" />
        </activity>
        <activity
            android:name=".activity.AccountPickerActivity"
            android:label="@string/title_activity_login"
            android:theme="@style/Theme.AppCompat.Light.DialogWhenLarge" />

        <activity
            android:name=".activity.ShareActivity"
            android:label="@string/title_activity_share"
            android:parentActivityName=".activity.MainActivity"
            android:theme="@style/Theme.Base.AppCompat.Dialog.Light.FixedSize" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.MainActivity" />
        </activity>

        <receiver
            android:name=".content.AccountNotificationReceiver"
            android:enabled="true"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.accounts.LOGIN_ACCOUNTS_CHANGED" />
            </intent-filter>
        </receiver>
    </application>

</manifest>