<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="eu.e43.impeller"
    android:versionCode="13"
    android:versionName="0.4.2" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="17" />

    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.WRITE_CONTACTS" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="eu.e43.impeller.FeedActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name="eu.e43.impeller.FeedService"
            android:enabled="true"
            android:exported="false" >
        </service>

        <activity
            android:name="eu.e43.impeller.account.LoginActivity"
            android:label="@string/title_activity_login"
            android:windowSoftInputMode="adjustResize|stateVisible" >
        </activity>
        
        <activity
            android:name="eu.e43.impeller.SettingsActivity"
            android:label="@string/title_activity_settings"
            android:parentActivityName="eu.e43.impeller.FeedActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="eu.e43.impeller.FeedActivity" />
        </activity>

        <service
            android:name="eu.e43.impeller.account.AuthenticatorService"
            android:enabled="true"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.accounts.AccountAuthenticator" />
            </intent-filter>

            <meta-data
                android:name="android.accounts.AccountAuthenticator"
                android:resource="@xml/authenticator" />
        </service>

        <service
            android:name="eu.e43.impeller.contacts.SyncService"
            android:exported="true">
            <intent-filter>
                <action android:name="android.content.SyncAdapter" />
            </intent-filter>

            <meta-data
                    android:name="android.content.SyncAdapter"
                    android:resource="@xml/contact_sync_adapter" />
            <meta-data
                    android:name="android.provider.CONTACTS_STRUCTURE"
                    android:resource="@xml/contact_profile" />
        </service>

        <activity
            android:name="eu.e43.impeller.ObjectActivity"
            android:label="@string/title_activity_object"
            android:parentActivityName="eu.e43.impeller.FeedActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="eu.e43.impeller.FeedActivity" />

            <intent-filter>
                <category android:name="android.intent.category.DEFAULT"/>
				<action android:name="eu.e43.impeller.SHOW_OBJECT" />
				<data android:scheme="http"  />
				<data android:scheme="https" />
				<data android:scheme="acct"  />
            </intent-filter>
        </activity>

        <service
            android:name="eu.e43.impeller.ObjectService"
            android:enabled="true"
            android:exported="false" >
        </service>
        <service android:name=".contacts.SyncService"/>

        <activity
            android:name="eu.e43.impeller.PostActivity"
            android:label="@string/title_activity_post"
            android:theme="@style/AppDialogTheme"
            android:parentActivityName="eu.e43.impeller.FeedActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="eu.e43.impeller.FeedActivity" />
            
			<intent-filter>
                <action android:name="android.intent.action.SEND" />
                <data android:mimeType="text/plain" />
            </intent-filter>
        </activity>
    </application>

</manifest>